<div class="container-fluid" *ngIf="players[1]">
    <div class="row">
        <div class="col-6">
            <nb-card>
                <nb-card-header class="text-center">
                    顯示目前金額
                </nb-card-header>
                <nb-card-body>
                    <table class="table" *ngIf="players[1]">
                        <thead>
                          <tr>
                            <th class="battleNameTitle">戰役名稱</th>
                            <th class="battleNameTitle" *ngFor="let data of players">{{data.name}}</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let Battle of Battles;let battles = index">
                            <td scope="row" class="battleName">{{Battle.BattleName}}</td>
                            <td *ngFor="let player of players;let i = index">{{allMoney[battles].moneyInfos[i].totalMoney}}</td>
                          </tr>
                          <tr>
                            <td class="battleName">總結</td>
                            <td *ngFor="let settlement of settlementMoney">{{settlement}}</td>
                          </tr>
                        </tbody>
                      </table>
                    <span ></span>
                </nb-card-body>
            </nb-card>
        </div>
        <div class="col-6">
            <nb-card>
                <nb-card-header class="text-center">
                    輸入需分贓之金額
                </nb-card-header>
                <nb-card-body>
                    <div class="row col-12">
                        <div class="col-3 battleNameTitle">
                            戰役名稱
                        </div>
                        <div class="col-9 row"><span *ngFor="let player of players" class="col d-flex justify-content-center battleNameTitle">{{player.name}}</span></div>
                    </div>
                    
                    <div *ngFor="let Battle of Battles;let battles = index" class="row col-12">
                        <div class="col-3 d-flex align-items-center battleName">{{Battle.BattleName}}</div>
                        <div class="col-9">
                            <div class="row mt-3" *ngFor=" let session of allData[battles].playerInfos[0].sessions ;let sessionNum = index">
                                <input class="col" type="text" shape="round" *ngFor="let player of players;let i = index" nbInput 
                                [(ngModel)]="allData[battles].playerInfos[i].sessions[sessionNum].money">
                            </div>
                        </div>
                    </div>
                    <div class="col-12 d-flex justify-content-center mt-3"><button nbButton shape="round" size="large" (click)="Calc()">計算</button></div>
                </nb-card-body>
            </nb-card>
        </div>
    </div>
</div>