i:hover {
  cursor: pointer;
}
.title{
    color: #FFFFFF;
}
::ng-deep {
  .layout {
    background-image: url(../assets/img/money.jpg);
    background-size: cover;
  }
  .battleName{
    font-size: 15px;
    font-weight: 600;
  }
  .battleNameTitle{
    font-size: 20px;
    font-weight: bold;
  }
  nb-menu {
    nb-icon,
    span.menu-title {
      font-size: 20px;
      color: #FFFFFF;
    }
  }
  nb-card{
    border-radius: 30px;
    min-width: 30rem;
    nb-card-header{
      font-size: 25px;
      font-weight: 700 !important;
      border-bottom: 0;
    }
  }
  .borderTop{
    border-top: 1.5px solid rgba($color: #808080, $alpha: 0.7);
  }
}
