<nb-layout>
  <nb-layout-header fixed>
    <div class="row col-12 header">
      <div class="col-1 d-flex align-items-center">
        <i class="fa-solid fa-bars" style="font-size:30px;" (click)="toggleSideBar()"></i>
      </div>
      <div class="col-10 d-flex align-items-center">
        <h1 class="title">小賭怡情，大賭傷身<i class="fa-solid fa-sack-xmark ms-2" (click)="Open()"></i></h1>
      </div>
      <div class="col-1 d-flex align-items-center">
        <button nbButton hero status="info" (click)="OpenInfo()">使用說明</button>
      </div>
    </div>
  </nb-layout-header>
  <nb-sidebar fixed responsive tag="sideBar">
    <nb-menu [items]="menu"></nb-menu>
  </nb-sidebar>
  <nb-layout-column>
    <div [@routeAnimations]="getRouteAnimationData()">
      <router-outlet></router-outlet>
    </div>
  </nb-layout-column>
</nb-layout>